
DATABASE_URL=postgresql://postgres:aswin@localhost:5432/preserve_ai

SECRET_KEY=e5bf9865de8a1791bda12d0bda6d81bc23ec6d9b6bdc885929eecb0531264899

UPLOAD_DIRECTORY=uploads

MAX_UPLOAD_SIZE_MB=20

MAX_PDF_PAGES=500